<div ng-controller='loginController'>
	<a ng-href='/logout' ng-click='logout()'>Logout</a>
</div>

<h4>Welcome back, {{currentuser.name}}!</h4>

<form>
  <textarea ng-model='post.text' placeholder="your post goes here..."></textarea>
  <input type='submit' value='Post' class="button" ng-click="newpost()">
</form>

<div ng-repeat='post in posts track by $index' class='post'>
	<p><strong>{{post._user.username}}</strong> ({{post.createdAt | date: "short"}})</p>
	<p>{{post.text}}</p>

	<div ng-repeat='comment in post.comments' class='comment'>
		<p><strong>{{comment._user.username}}</strong> ({{comment.createdAt | date: "short"}})</p>
		<p>{{comment.text}}</p>
	</div>

	<form>
  		<textarea ng-model='comment[$index].text' placeholder="your comment goes here..."></textarea>
  		<input type='submit' value='Comment' class="button" ng-click="newcomment(post._id, $index)">
	</form>
</div>
